/* Bid Interface Specific Styles */
.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}
.form-wrapper {
    width:100%;
    max-width:550px;
    margin: 0 auto;
}